{{#if controller.rights.actionbutton_canuploadmibfile.checksum}}
    {{#component-tooltip content="Upload mib file to canopsis system"}}
        <div id="uploadmib">{{tr 'Upload mib'}}</div>
    {{/component-tooltip}}
{{/if}}
