<div style="display: hidden;">
    {{input type="file" multiple=false}}
</div>
<button class="btn btn-default btn-sm" {{action 'activate'}}>
    <span class="glyphicon glyphicon-upload-alt"></span>
</button>
