{{#unless controller.findOptions.useLogCollection}}
    {{#if controller.rights.actionbutton_cancel.checksum}}
        {{#component-tooltip content="Cancel"}}
            <button class="btn btn-default btn-sm" {{action 'sendEvent' 'cancel'}} >
                <span class="glyphicon glyphicon-trash"></span>
                {{tr "Cancel"}}
            </button>
        {{/component-tooltip}}
    {{/if}}
    {{#if controller.rights.actionbutton_uncancel.checksum}}
        {{#component-tooltip content="Undo cancel"}}
            <button class="btn btn-default btn-sm" {{action 'sendEvent' 'uncancel'}}>
                <span class="glyphicon glyphicon-share-alt"></span>
                {{tr "Undo cancel"}}
            </button>
        {{/component-tooltip}}
    {{/if}}
{{/unless}}
