{{#unless controller.findOptions.useLogCollection}}
    {{#if minified}}
        {{#if controller.parentController.rights.actionbutton_ack.checksum}}
            {{#if this.ack.author}}
                {{#if this.ack.isAck}}
                    {{#component-tooltip content="Cancel ack"}}
                        <button class="btn btn-default btn-sm" {{action 'sendEvent' 'ackremove' this}} >
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </button>
                    {{/component-tooltip}}
                {{/if}}
            {{else}}
                {{recordcanbeack this}}
                {{#if this.recordcanbeack}}
                    {{#component-tooltip content="Ack"}}
                        <button class="btn btn-default btn-sm" {{action 'sendEvent' 'ack' this}} >
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    {{/component-tooltip}}
                {{/if}}
            {{/if}}
        {{/if}}
    {{else}}
        {{#if controller.rights.actionbutton_ack.checksum}}
            {{#component-tooltip content="Ack"}}
                <button class="btn btn-default" {{action 'sendEvent' 'ack'}} >
                    <span class="glyphicon glyphicon-ok"></span>
                     {{tr 'Ack'}}
                </button>
            {{/component-tooltip}}

            {{#component-tooltip content="Cancel ack"}}
                <button class="btn btn-default" {{action 'sendEvent' 'ackremove'}} >
                    <span class="glyphicon glyphicon-ban-circle"></span>
                     {{tr 'Cancel ack'}}
                </button>
            {{/component-tooltip}}
        {{/if}}
    {{/if}}
{{/unless}}
