{{#if this.state}}
    {{#if this.ack.author}}
        {{#if view.minified}}
            {{#if controller.parentController.rights.actionbutton_incident.checksum}}
                {{#component-tooltip content="Declare an incident"}}
                    <button type="button" class="btn btn-default btn-sm" {{action 'sendEvent' 'declareticket' this}} >
                        <i class="fa fa-ticket"></i>
                    </button>
                {{/component-tooltip}}
            {{/if}}
        {{else}}
            {{#if controller.rights.actionbutton_incident.checksum}}
                {{#component-tooltip content="Declare an incident"}}
                    <button type="button" class="btn btn-default" {{action 'sendEvent' 'declareticket' this}} >
                        <i class="fa fa-ticket"></i>
                        {{tr 'Declare an incident'}}
                    </button>
                {{/component-tooltip}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}
