<div>
    {{#each item in controller.items}}
        {{widget-drop-target insertAtIndex=_view.contentIndex additionnalClass="verticalDropTarget"}}
        {{#if item.classValue}}
            <div {{bind-attr class="item.classValue"}} >
                {{widgetslot item=item}}
            </div>
        {{else}}
            <div {{bind-attr class="controller.defaultItemCssClass"}}>
                {{widgetslot item=item}}
            </div>
        {{/if}}
    {{/each}}
    {{widget-drop-target insertAtIndex=controller.model.items.length additionnalClass="verticalDropTarget"}}
    <div style="clear:both"></div>
</div>
