<div class="pull-right" style="padding-left:4px">
    <span class="btn-group">
        <button type="button" class="btn btn-sm btn-default" {{action "firstPage"}}>
            <span class="glyphicon glyphicon-step-backward"></span>
            {{tr 'First'}}
        </button>
        <button type="button" class="btn btn-sm btn-default" {{action "prevPage"}}>
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{tr 'Previous'}}
        </button>
    </span>
    <span style="float:left; padding:4px">
        {{tr 'Page'}} {{controller.currentPage}} / {{controller.totalPages}}
    </span>
    <span class="btn-group">
        <button type="button" class="btn btn-sm btn-default" {{action "nextPage"}}>
            {{tr 'Next'}}
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button type="button" class="btn btn-sm btn-default" {{action "lastPage"}}>
            {{tr 'Last'}}
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
    </span>
</div>
