
<div class="box-header">
    <div class="pull-right">
        {{partialslot slot=controller._partials.titlebarsbuttons minified=true class="btn-group" tagName="span" widgetwrapper=widgetwrapper}}
        {{partialslot slot=widgetwrapper.widget.controller._partials.titlebarbuttons minified=true class="btn-group" tagName="span" widgetwrapper=widgetwrapper}}
            {{#if controller.editMode}}
                {{view "mixineditdropdown" isGridLayout=controller.isGridLayout mixins=widgetwrapper.widget.mixins wrappermixins=widgetwrapper.mixins class="btn-group"}}
            {{/if}}
        <div class="btn-group">
            {{#if widget.isMinimizable}}
                {{partial 'titlebarbutton-minimize'}}
            {{/if}}

            {{#if controller.editMode}}
                <button type="button" class="btn btn-small btn-danger btn-xs" {{action 'removeWidget' widgetwrapper.widget}}>
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            {{/if}}

            {{#if widgetwrapper.widget.rollbackable}}
                {{#if widgetwrapper.widget.isDirty}}
                    <button type="button" class="btn btn-small btn-danger btn-xs" {{action 'rollback' widgetwrapper.widget}}>
                        <i class="fa fa-undo"></i>
                    </button>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <!--
    <div class="pull-right">
        Here, widget is the model (this.config in the controller)
        controller is the userview controller

        TODO: add possibility for widget to add action buttons in titlebar
        {partialslot slot=widgetController._partials.widgetActionButtons}
    </div>
    -->

    {{#if controller.editMode}}
        <h3 class="box-title">
            {{widgettitlebar-drag-handle widget=widgetwrapper title=widgetwrapper.widget.title xtype=widgetwrapper.widget.xtype}}
        </h3>
    {{else}}
        {{#unless controller.hide_titles}}
            {{#if widgetwrapper.widget.title}}
                <h3 class="box-title">{{widgetwrapper.widget.title}}</h3>
            {{/if}}
        {{/unless}}
    {{/if}}
    {{#if controller.debug}}
        <code>
            <a {{action "inspect" widgetwrapper.widget}} style="font-size:80%; font-weight: bold">&gt;$E</a>
        </code>

        <span class="label label-warning">{{widgetwrapper.xtype}} state: {{widgetwrapper.currentState.stateName}}</span>
        <span class="label label-warning">{{widgetwrapper.widget.xtype}} state: {{widgetwrapper.widget.currentState.stateName}}</span>
    {{/if}}
</div>
