<div class="box-header">
    <div class="pull-right">
        {{partialslot slot=controller._partials.titlebarsbuttons minified=true class="btn-group" tagName="span"}}
            {{#if controller.editMode}}
                {{view "mixineditdropdown" mixins=widget.mixins class="btn-group"}}
            {{/if}}
        <div class="btn-group">
            {{#if widget.isMinimizable}}
                {{partial 'titlebarbutton-minimize'}}
            {{/if}}

            {{#if controller.editMode}}
                <button type="button" class="btn btn-small btn-success btn-xs" {{action 'editWidgetPreferences' widget}}>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-small btn-info btn-xs" {{action 'removeWidget' widget}}>
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            {{/if}}

            {{#if widget.rollbackable}}
                {{#if widget.isDirty}}
                    <button type="button" class="btn btn-small btn-danger btn-xs" {{action 'rollback' widget}}>
                        <i class="fa fa-undo"></i>
                    </button>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <!--
    <div class="pull-right">
        Here, widget is the model (this.config in the controller)
        controller is the userview controller

        TODO: add possibility for widget to add action buttons in titlebar
        {partialslot slot=widgetController._partials.widgetActionButtons}
    </div>
    -->
    {{#unless controller.hide_titles}}
        {{#if widget.title}}
            <h3 class="box-title">{{widget.title}}</h3>
        {{/if}}
        {{#if controller.editMode}}
            {{#unless widget.title}}
                <h3 class="box-title">&lt; {{tr 'Untitled'}} {{widget.xtype}} widget &gt;</h3>
            {{/unless}}
        {{/if}}
    {{/unless}}
    {{#if controller.debug}}
        <code>
            <a {{action "inspect" widget}} style="font-size:80%; font-weight: bold">&gt;$E</a>
        </code>
    {{/if}}
</div>
