build

#####################
# Python files
#####################
*.egg
*.egg-info
*.pyc
pyperfstore/*.egg*
pyperfstore2/*.egg*

#####################
# Temp files
#####################
*~

#####################
# Canopsis UI bricks
#####################
src/canopsis/brick-calendar/
src/canopsis/brick-timechart/
src/canopsis/brick-querybuilder/
src/canopsis/brick-rrule-editor/
