build

#####################
# Python files
#####################
*.egg
*.egg-info
*.pyc
pyperfstore/*.egg*
pyperfstore2/*.egg*

#####################
# Temp files
#####################
*~

#####################
# External bricks
#####################

src/canopsis/enabled-bricks.json
src/canopsis/brick-*

#####################
# Node 
#####################
node_modules
bower.json
