build

#####################
# Python files
#####################
*.egg
*.egg-info
*.pyc
pyperfstore/*.egg*
pyperfstore2/*.egg*

#####################
# Temp files
#####################
*~

var/www/canopsis/widgetCalendar/

