<form class="form-horizontal">
    {{#each property in propertiesArray}}
        <div class="col-sm-2">
            {{component-formlabel attr=property}}
        </div>
        <div class="col-sm-10">
            {{component-editor content=property value=property.value}}
        </div>
    {{/each}}
</form>
