{{#if Canopsis.utils.session.rights.actionbutton_incident.checksum}}
    {{#if this.state}}
        {{#if this.ack.author}}
            {{#if minified}}
                {{#component-tooltip content="Declare an incident"}}
                    <button type="button" class="btn btn-default btn-sm" {{action 'sendEvent' 'declareticket' this}} >
                        <i class="fa fa-ticket"></i>
                    </button>
                {{/component-tooltip}}
            {{else}}
                {{#component-tooltip content="Declare an incident"}}
                    <button type="button" class="btn btn-default" {{action 'sendEvent' 'declareticket' this}} >
                        <i class="fa fa-ticket"></i>
                        {{tr 'Declare an incident'}}
                    </button>
                {{/component-tooltip}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}
