{{#if Canopsis.utils.session.rights.actionbutton_changestate.checksum}}
    {{#unless controller.findOptions.useLogCollection}}
        {{#if minified}}
            {{#if this.ack.isAck}}
                {{#component-tooltip content="Change criticity"}}
                    <button class="btn btn-default btn-sm" {{action 'sendEvent' 'changestate' this}} >
                        {{glyphicon "retweet"}}
                    </button>
                {{/component-tooltip}}
            {{/if}}
        {{else}}
            {{#component-tooltip content="Change criticity"}}
                <button class="btn btn-default" {{action 'sendEvent' 'changestate'}} >
                    {{glyphicon "retweet"}} {{ tr 'Change criticity' }}
                </button>
            {{/component-tooltip}}
        {{/if}}
    {{/unless}}
{{/if}}
