{{#if Canopsis.utils.session.rights.actionbutton_cancel.checksum}}
    {{#unless controller.findOptions.useLogCollection}}
        {{#if minified}}
            {{#if this.ack.isAck}}
                <button class="btn btn-default btn-xs tooltiptable hint--rounded hint--top" data-hint="Remove" {{action 'sendEvent' 'cancel' this}} >
                    {{glyphicon "trash"}}
                </button>
            {{/if}}
            {{#if this.ack.isCancel}}
                <button class="btn btn-default btn-xs tooltiptable hint--rounded hint--top" data-hint="Undo remove" {{action 'sendEvent' 'uncancel' this}} >
                    {{glyphicon "share-alt"}}
                </button>
            {{/if}}
        {{else}}
            <button class="btn btn-default tooltiptable hint--rounded hint--top" data-hint="Remove" {{action 'sendEvent' 'cancel'}} >
                {{glyphicon "trash"}} {{tr 'Remove'}}
            </button>
            <button class="btn btn-default tooltiptable hint--rounded hint--top" data-hint="Undo remove" {{action 'sendEvent' 'uncancel'}} >
                {{glyphicon "share-alt"}} {{tr 'Undo remove'}}
            </button>
        {{/if}}
    {{/unless}}
{{/if}}
