{{#if Canopsis.utils.session.rights.actionbutton_changestate.checksum}}
    {{#unless controller.findOptions.useLogCollection}}
        {{#if minified}}
            {{#if this.ack.isAck}}
                <button class="btn btn-default btn-sm tooltiptable hint--rounded hint--top" data-hint="Change criticity" {{action 'sendEvent' 'changestate' this}} >
                    {{glyphicon "retweet"}}
                </button>
            {{/if}}
        {{else}}
            <button class="btn btn-default tooltiptable hint--rounded hint--top" data-hint="Change criticity" {{action 'sendEvent' 'changestate'}} >
                {{glyphicon "retweet"}} {{ tr 'Change criticity' }}
            </button>
        {{/if}}
    {{/unless}}
{{/if}}
