{{#if Canopsis.utils.session.rights.actionbutton_incident.checksum}}
    {{#if this.state}}
        {{#if this.ack.author}}
            {{#if minified}}
                <button type="button" class="btn btn-default btn-xs tooltiptable hint--rounded hint--top" data-hint="Declare an incident" {{action 'sendEvent' 'declareticket' this}} >
                    <i class="fa fa-ticket"></i>
                </button>
            {{else}}
                <button type="button" class="btn btn-default tooltiptable hint--rounded hint--top" data-hint="Declare an incident" {{action 'sendEvent' 'declareticket' this}} >
                    <i class="fa fa-ticket"></i>
                        {{tr 'Declare an incident'}}
                </button>

            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}
