{{#unless controller.findOptions.useLogCollection}}
	{{#if minified}}
		{{#if this.ack.author}}
			<a href="#" class="tooltiptable hint--rounded hint--top" data-hint="Remove Ack on this alert">
				<button type="button" class="btn btn-default" {{action 'sendEvent' 'ackremove' this}} >
					{{glyphicon "ban-circle"}}
				</button>
			</a>
		{{else}}
			{{#if this.status}}
				<a href="#" class="tooltiptable hint--rounded hint--top" data-hint="Acknowledge this alert">
					<button type="button" class="btn btn-default" {{action 'sendEvent' 'ack' this}} >
						{{glyphicon "ok"}}
					</button>
				</a>
			{{/if}}
		{{/if}}
	{{else}}
		<a href="#" class="tooltiptable hint--rounded hint--top" "Acknowlege selected events">
			<button type="button" class="btn btn-default" {{action 'sendEvent' 'ack'}} >
				{{glyphicon "ok"}} Acknowlege
			</button>
		</a>
		<a href="#" class="tooltiptable hint--rounded hint--top" data-hint="Remove Ack on selected alerts">
			<button type="button" class="btn btn-default" {{action 'sendEvent' 'ackremove'}} >
				{{glyphicon "ban-circle"}} Remove acks
			</button>
		</a>
	{{/if}}
{{/unless}}