{{#if Canopsis.utils.session.rights.actionbutton_ack.checksum}}
    {{#unless controller.findOptions.useLogCollection}}
        {{#if minified}}
            {{#if this.ack.author}}
                {{#if this.ack.isAck}}
                    <button class="btn btn-default btn-sm tooltiptable hint--rounded hint--top" data-hint="Cancel ack" {{action 'sendEvent' 'ackremove' this}} >
                        {{glyphicon "ban-circle"}}
                    </button>
                {{/if}}
            {{else}}
                {{#if this.status}}
                    <button class="btn btn-default btn-sm bg-purple tooltiptable hint--rounded hint--top" data-hint="Ack" {{action 'sendEvent' 'ack' this}} >
                        {{glyphicon "ok"}}
                    </button>
                {{/if}}
            {{/if}}
        {{else}}
            <button class="btn btn-default tooltiptable hint--rounded hint--top" data-hint="Ack" {{action 'sendEvent' 'ack'}} >
                {{glyphicon "ok"}} {{tr 'Ack'}}
            </button>
            <button class="btn btn-default tooltiptable hint--rounded hint--top" data-hint="Cancel ack" {{action 'sendEvent' 'ackremove'}} >
                {{glyphicon "ban-circle"}} {{tr 'Cancel ack'}}
            </button>
        {{/if}}
    {{/unless}}
{{/if}}
