{{#if Canopsis.utils.session.rights.actionbutton_info.checksum}}
    {{#if minified}}
        <button {{action 'info' this}} class="btn btn-default btn-sm tooltiptable hint--rounded hint--top" data-hint="Informations">
            <i class="fa fa-info"></i>
        </button>
    {{else}}
        <button {{action 'info' this}} class="btn btn-default tooltiptable hint--rounded hint--top" data-hint="Informations">
            <i class="fa fa-info"></i>
                {{tr 'Info'}}
        </button>
    {{/if}}
{{/if}}
