{{#if Canopsis.utils.session.rights.list_filters.checksum}}
    <div class="pull-right btn-group" data-toggle="btn-toggle">
        <button class="btn btn-default" {{action setFilter controller.default_filter}}>{{tr 'All'}}</button>
        {{#each filter in controller.filters}}
            <button type="button" class="btn btn-default editable" data-col="all" {{action setFilter filter.filter}}>{{filter.title}} 
            </button>
        {{/each}}
        {{#each filter in controller.custom_filters}}
            <button type="button" class="btn btn-default editable" data-col="all" {{action setFilter filter.filter}}>{{filter.title}} 
                <small class="badge bg-blue" {{action editFilter filter}}> <i class="fa fa-wrench"></i></small>
                <small class="badge bg-orange" {{action removeFilter filter}}> <i class="fa fa-minus"></i></small>
            </button>
        {{/each}}
        <button type="button" class="btn btn-primary" {{action addUserFilter}} data-col="all">
            <i class="fa fa-plus"></i> {{tr 'Add filter'}}
        </button>
    </div>
    <div style="clear:both"></div>
{{/if}}
