
<td>
    {{component-checkbox checked=isSelected class="toggle"}}
</td>

{{#each attr in parentController.shown_columns}}
        {{#if attr.options.show}}
            <td>{{component-renderer attr=attr record=this}}</td>
        {{/if}}
{{/each}}

{{#if parentController.item_actions}}
    <td style="padding-left:0; padding-right:0">
        <div style="display:flex">
            {{set 'minified' true}}

            {{clog "controller.parentController._partials.itemactionbuttons"}}
            {{clog controller.parentController._partials.itemactionbuttons}}
            {{partialslot slot=controller.parentController._partials.itemactionbuttons}}
        </div>
    </td>
{{/if}}
