<div class="pull-right">
    {{#group}}
        <button type="button" class="btn btn-small btn-default" {{action firstPage}}>
            {{glyphicon 'step-backward'}}
            {{tr 'First'}}
        </button>
        <button type="button" class="btn btn-small btn-default" {{action prevPage}}>
            {{glyphicon 'chevron-left'}}
            {{tr 'Previous'}}
        </button>
        {{tr 'Page'}} {{controller.currentPage}} / {{controller.totalPages}}
        <button type="button" class="btn btn-small btn-default" {{action nextPage}}>
            {{tr 'Next'}}
            {{glyphicon 'chevron-right'}}
        </button>
        <button type="button" class="btn btn-small btn-default" {{action lastPage}}>
            {{tr 'Last'}}
            {{glyphicon 'step-forward'}}
        </button>
    {{/group}}
</div>
