<ul class="jsonUl">
    <span class="label label-primary">{{content.label}}</span>
    &nbsp;<span class="glyphicon glyphicon-arrow-right" style="display:inline"></span>
    <span class="label label-warning">
        {{#each child in content.clauses}}
            {{json2html child.display child}}
            {{#component-tooltip content=child.json2html htmlEnabled=true noTranslation=true}}
                <button type="button" class="btn btn-default btn-xs">{{child.property}}</button>
            {{/component-tooltip}}
        {{/each}}
    </span>
    {{#each child in content.conditions}}
        <li class="jsonLi">
            <span class="label label-primary">
                {{clog 'this is my condition child'}}
                {{clog child}}
                {{child.label}}
            </span>
        </li>
    {{/each}}
</ul>

