<div class="form-inline">
    <div class="form-group">
        {{view Ember.Select
            content=controller.valuesTypes
            value=controller.selectedValueType
            class="form-control"
        }}
    </div>
    <div class="form-group">
        {{#if controller.useTextField}}
            {{input type="text" class="form-control" value=value placeholder=controller.placeholder}}
        {{/if}}
        {{#if controller.useBoolean}}
            <button {{bind-attr class=":btn :btn-default controller.content:active"}} {{action switchContentValue target=controller}}>
                {{#if value}}
                    True
                {{else}}
                    False
                {{/if}}
            </button>
        {{/if}}
        {{#if controller.useArray}}
            {{#each element in controller.content}}
                {{input type="text" class="form-control" value=element}}
            {{/each}}
            <button {{bind-attr class=":btn :btn-primary controller.content:active"}} {{action addListElement target=controller}}>
                {{glyphicon 'plus'}} {{tr 'Add element'}}
            </button>
        {{/if}}


    </div>
</div>
