<div class="progress-container">
	<div class="progress-label">
        label : {{label}}<br/>
        value : {{value}}<br>
        style_bar : {{style_bar}}<br>
        min_value : {{min_value}}<br>
        max_value : {{max_value}}<br>
        style_span : {{style_span}}<br>
        textpercent : {{textpercent}}<br>
        textstatus : {{textstatus}}<br>
        percent : {{percent}}<br>
        get_value : {{get_value}}<br>
        getValue : {{getValue}}<br>
	</div>
	<div class="progress-content">
		<div class="progress">
			<div {{bind-attr style=style_bar}} {{bind-attr aria-valuenow=value}} {{bind-attr aria-valuemin=min_value }} {{bind-attr aria-valuemax=max_value}} class="progress-bar" role="progressbar">
				<span {{bind-attr style=style_span}}>{{textpercent}} Complete {{textstatus}}</span>
			</div>
		</div>
	</div>
</div>
