<div class="progress-container">

    value : {{value}}<br>
    min : {{min_value }}<br>
    max : {{max_value}}<br>


    <div class="progress-label" {{bind-attr style=style_label}}>
        {{label}}
    </div>
    <div class="progress-content" {{bind-attr style=style_content}}>
        {{#if is_progressbar}}
            <div class="progress">
                <div {{bind-attr id=id_bar}} {{bind-attr style=style_bar}} {{bind-attr aria-valuenow=value}} {{bind-attr aria-valuemin=min_value }} {{bind-attr aria-valuemax=max_value}} class="progress-bar" role="progressbar">
                    <span {{bind-attr style=style_span}}>{{text_percent}}</span>
                </div>
            </div>
        {{else}}
            <div 
                {{bind-attr id=id}} 
                {{bind-attr data-dimension=width}} 
                {{bind-attr data-text=text_percent}}
                data-info="" 
                {{bind-attr data-width=thickness}} 
                data-fontsize="38" 
                {{bind-attr data-text=numPercent}}
                {{bind-attr data-fgcolor=bg_color}}
                data-bgcolor="#fff" 
                data-fill="#fff" 
                data-total="100" 
                {{bind-attr data-part=numPercent}}
                data-icon="long-arrow-up" 
                data-icon-size="28" 
                data-icon-color="#fff"
                {{bind-attr data-type=type}}
            >
            </div>
        {{/if}}
    </div>
</div>

